<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestEndDateChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <TestEndDateChecker.Properties.Settings>
            <setting name="UserCurrentSite" serializeAs="String">
                <value/>
            </setting>
            <setting name="OlaRecipePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartingDirOfRecipes" serializeAs="String">
                <value/>
            </setting>
            <setting name="MarsDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabasetextBox" serializeAs="String">
                <value/>
            </setting>
            <setting name="PWURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="PWDispoSummaryTab" serializeAs="String">
                <value/>
            </setting>
        </TestEndDateChecker.Properties.Settings>
    </userSettings>
</configuration>
